.header_p{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .logo{
        width: 180px;
    }
    .profile-widget{
        margin-right: 4%;
        display: flex;
        gap: 12px;
    }

    





}